//=================== STEP詳細画面 =================================
.p-childContainer {
  background-color: $color_light100;
  border-radius: 10px;
  padding: $space_4l;
  box-sizing: border-box;
  overflow: hidden;
  @include mq('sp') {
      padding: $space_4l $space_xl;
  }
  &__index {
    margin-bottom: $space_3l;
    .p-childTitle {
      font-size: $font-size_xl;
      margin-right: $space_l;
      @include mq('sp') {
      font-size: $font-size_3l;
      }
    }
    .p-childTime {
      background-color: $color_sub;
      font-size: $font-size_xs;
      padding: $space_s $space_xl;
      border-radius: 20px;
      color: $color_light100;
      @include mq('sp') {
        display: block;
        width: 80%;
        font-size: $font-size_default;
        margin-top: $space_m;
      }
    }
  }
  &__title {
    font-size: $font-size_3l;
    border-bottom: solid 1px $color_dark050;
    padding-bottom: 6px;
    margin-bottom: $space_8l;
  }
  &__content {
    margin-bottom: $space_8l;
    .p-childContent {
      white-space: pre-wrap;
      word-break: break-all;
    }
  }
  &__img {
    border-radius: 20px;
    width: 100%;
    height: $height_m;
    margin-bottom: $space_6l;
    .p-childImage {
      width: 100%;
      height: 100%;
      border-radius: 30px;
    }
  }
  .p-clearBtn {
    background-color: $color_sub;
    color: $color_light100;
    border: solid 1px $color_main;
    transition:all 0.3s;
    margin-bottom: $space_4l;
    padding: $space_3l $space_xl;
    margin-top: $space_6l;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    outline: none;
    transition:box-shadow 0.06s;
  }
  .p-clearBtn:hover {
    background-color: $color_light100;
    color: $color_main;
    border: solid 1px $color_main;
    transition: 0.3s;
  }
  .p-clearBtn:active {
    background-color: $color_light100;
    transform: translate3d(0, 5px, 0);
    box-shadow: none;
  }
  .p-snsBtn {
    background-color: $color_light100;
    display: block;
    width: 100%;
    margin:  0 auto;
    font-size: $font-size_default;
    padding: 8px;
    box-sizing: border-box;
    letter-spacing: 1px;
    margin-bottom: $space_xl;
    transition: 0.3s;
  }
  .p-snsBtn:hover {
    font-size: $font-size_xs;
    background-color: $color_sub;
    color: $color_light100;
    letter-spacing: 3px;
    transition: 0.3s;
  }
  .p-preBtn {  
    @include mq() {
      margin: $space_xl 0;
    }
  }
  .p-nextBtn, .p-preBtn {
    font-size: $font-size_default;
    color: $color_light100;
    padding: $space_m $space_xl;
    border-radius: 10px;
    border: solid 1px $color_main;
    box-shadow: none;
    transition: 0.3s;
    @include mq('sp') {
      width: 100%;
    }
  }
  .p-nextBtn:hover, .p-preBtn:hover {
    background-color: $color_light100;
    color: $color_main;
    border: solid 1px $color_main;
    transition: 0.3s;
  }
  .p-nextBtn {
    float: right;
  }
}