// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝　STEP編集画面ボタン部分　＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.p-btnContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__delete, &__back, &__next {
    background-color: $color_dark075;
    color: $color_light100;
     display: inline-block;
    width: 40%;
    border-radius: 6px;
    @include mq() {
      margin-top: $space_l;
      padding: 0;
      height: 40px;
    }
  }
  &__edit {
  width: 100%;
  background-color: $color_sub;
  color: $color_light100;
  margin-bottom: $space_4l;
  padding: $space_3l $space_xl;
  margin-top: $space_6l;
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  outline: none;
  transition-duration: 0.06s;
  }
  &__edit:active {
  transform: translate3d(0, 5px, 0);
  box-shadow: none;
  outline: none;
}
}
.p-linkMypage {
  border-radius: 6px;
}
