// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝　メイン画面　＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.l-form {
  background-color: $color_main;
  height: $height_7l;
}
.l-main {
  background-color: $color_main;
  height: $height_9l;
  height: calc( #{$height_9l} + #{$height_m} );
}

