// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝　メイン画面　＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.l-form {
  background-color: $color_main;
  height: $height_8l;
}
.l-main {
  background-color: $color_main;
  height: calc( #{$height_9l} + #{$height_m} );
  @include mq() {
    height: calc( #{$height_9l} + #{$height_2l} );
  }
}
.l-stepList {
  background-color: $color_main;
  @include mq('tab') {
    height: calc( #{$height_9l} + #{$height_7l} );
  }
  @include mq() {
    height: calc( #{ $height_11l } + #{ $height_4l } );
  }
}
.l-myPage {
  background-color: $color_main;
  height: calc( #{$height_9l} + #{$height_7l} );
  @include mq('tab') {
    height: calc( #{$height_9l} + #{$height_7l} );
  }
  @include mq() {
    height: calc( #{ $height_11l } + #{ $height_4l } );
  }
}

