// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝　メイン画面　＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.l-form {
  background-color: $color_main;
  height: $height_7l;
}
.l-main {
  background-color: $color_main;
  // height: calc( #{$height_9l} + #{$height_m} );
  // @include mq() {
  //   height: calc( #{$height_9l} + #{$height_2l} );
  // }
}
.l-stepList {
  background-color: $color_main;
}
.l-myPage {
  background-color: $color_main;
  padding-bottom: $space_15l;
}

