//=================== サービス名部分 =================================
.l-hero {
  width: 100%;
  height: $height_xl;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
//=================== Service =================================
.l-service {
  padding: $space_10l;
  overflow: hidden;
  background-color: $color_sub;
}
//=============== データ部分  ========================
.l-data {
  width: 100%;
  background-color: $color_main;
}
//=============== 機能紹介部分 ========================
.l-produce {
  width: 100%;
}
//=============== 「今すぐ始める」ボタン部分 ========================
.l-start {
  width: 100%;
  background-color: $color_main;
  height: $height_2l;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}